.js-filter-wrapper{
  padding: 0;
  margin: 0;
  padding-bottom: 0;

  & .form-control {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.js-form-type-textarea:has(+ .js-filter-wrapper) {
  margin-bottom: 0 !important;

  & .js-text-full{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  & .ck-editor__editable{
    --ck-border-radius: 0;
  }
}