.view-media-entity-browser {
    padding-bottom: 70px;

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .views-row {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    margin: 7.5px;
    width: calc(33.3% - 15px);
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0,34,51,.1), 0 0 0 1px rgba(0,34,51,.1);

    @media (max-width: 767px) {
      width: calc(100% - 15px);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 350 / 200;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
  }

  .views-row:after{
    display: none;
    content: " ";
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    background-size: 30px;
    background-color: #f0f0f0;
    background-image: url('../../../assets/icons/check2.svg');
    box-shadow: 0 1px 6px 0 rgba(0,34,51,.1), 0 0 0 1px rgba(0,34,51,.1);
  }

  .views-row.checked {
    border-radius: 5px;
  }

  .views-row.checked:after,
  .views-row:hover:checked:after,
  .views-row:hover:after {
    display: block;
  }

  .views-row.checked,
  .views-row.checked:after {
    border: 2px solid var(--bs-secondary);
    background-size: 30px;
  }

  .views-row.checked:after {
    background-color: var(--bs-secondary);
    background-image: url('../../../assets/icons/check2-white.svg');
  }

  .views-field-name {
    position: relative;
  }

  .views-field-name .media-info {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
    color: rgba(0,34,51,.8);

    [class^="media-info--"] {
      display: none
    }
  }

  .views-field-entity-browser-select {
    position: absolute !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

}

.view-media-entity-browser ~ .form-actions {

  left: 0;
  right: 0;
  padding: 15px;
  transform: translateY(100%);
  position: fixed;
  bottom: 0;
  background-color: rgba(var(--bs-body-bg-rgb), 0.4);
  backdrop-filter: blur(5px);
  z-index: 9;
  margin: 0 !important;

  transition: transform 0.3s ease;

  &.elements-selected {
    transform: translateY(0);


  }
}
