.plyr--audio .plyr__controls {
  background-color: transparent;
}

.plyr--audio .plyr__control {
  &:hover {
    background-color: var(--bs-primary);
  }
}

.plyr--full-ui input[type=range] {
  color: var(--bs-primary);
}
