:root {
  --tagify-dd-bg-color: var(--bs-body-bg);
  --tagify-dd-color-primary: var(--bs-tertiary-bg);
  --tagify-dd-text-color: var(--bs-body-color);
}

.tagify.form-control {
  display: inline-flex;
  padding: 0;
}

/* Required validation in hidden select */
.form-type-select-tagify {
  position: relative;   & select.tagify-select-widget {
    position: absolute !important;
    z-index: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }
}


.tagify__dropdown__item {
  white-space: normal !important;
}

.tagify {
  --tags-border-color: var(--bs-border-color);
  --tags-hover-border-color: var(--bs-border-color);
  --tags-focus-border-color: var(--bs-focus-ring-color);
  --tag-border-radius: var(--bs-border-radius-sm);
  --tag-border: var( --bs-border-width) var(--bs-border-style) var(--bs-border-color);
  --tag-bg: var(--bs-body-bg);
  --tag-hover: var(--bs-tertiary-bg);
  --tag-text-color: inherit;
  --tag-text-color--edit: var(--bs-gray-700);
  --tag-pad: .25rem 0.5rem;
  --tag--max-width: 100%;
  --tag-inset-shadow-size: 3rem;
  --tag-invalid-color: var(--bs-danger);
  --tag-invalid-bg: var(--bs-danger-bg-subtle);
  --tag-remove-bg: var(--bs-danger-bg-subtle);
  --tag-remove-btn-color: inherit;
  --tag-remove-btn-bg: transparent;
  --tag-remove-btn-bg--hover: var(--bs-danger);
  --input-color: inherit;
  --placeholder-color: var(--bs-secondary-color);
  --placeholder-color-focus: var(--bs-secondary-color);
  --loader-size: .8rem;
  --tagify-dd-item--hidden-duration: 0.3s;
  line-height: inherit;
}
.tagify.tagify--focus {
  border-color: var(--bs-focus-ring-color);
  box-shadow: 0 0 0 var(--bs-focus-ring-width) var( --bs-focus-ring-color);
}

.tagify__tag {
  line-height: inherit;
  margin-inline: 5px;
  margin-block: 5px;
}
.tagify__tag__removeBtn {
  font-size: 1.2rem;
  margin: auto 0.75rem auto 0;
}
.tagify__tag__removeBtn:hover {
  background: transparent;
  color: var(--bs-danger);
}
.tagify__tag>div::before {
  border: var(--tag-border);
}
.tagify__dropdown__wrapper {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-radius: var(--bs-border-radius);
  border-color: var(--bs-focus-ring-color);
  border-top: 0 solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tagify__dropdown__item--active {
  color: inherit;
}

.tagify__tag .tagify__tag__avatar-wrap {
  margin-right: 10px;
}
